**/desktop.ini

/venv/
/Logs/
/MusicBPE/
/Data/Generated/
/spectral_utils.py
/get_bpe_data.py
/make_data.py
/music_bpe_exec
/preprocess_midi.py
/requirements_old.txt
/Old.txt
/History.txt
/gpt.py
/choralrnngan.py
/musegan.ipynb
/RNNAttention.py
/VAE.py
/Data/Postprocessed/
/Notes.txt
/Data/Survey/
/.idea/jupyter-settings.xml
/.ipynb_checkpoints/survey_analysis-checkpoint.ipynb
/.idea/workspace (1).xml
/.ipynb_checkpoints/
/__pycache__/
