**/desktop.ini

/venv/
/Logs/
/MusicBPE/
/Data/Generated/
/spectral_utils.py
/get_bpe_data.py
/make_data.py
/music_bpe_exec
/preprocess_midi.py
/requirements_old.txt
/Old.txt
/History.txt
/gpt.py
/choralrnngan.py
/musegan.ipynb
/RNNAttention.py
/VAE.py
